.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}

.upper-nav {
  display: flex;
  height: 80px;
  top: relative;
  flex-direction: row;
  background-color: rgb(190, 188, 188);
}
.upper-nav a:hover {
  text-decoration: none;
  color: black;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 3px black solid;
}

.nav-bar-container a {
  text-decoration: none;
}

.nav-bar-item {
  display: flex;
  border-left: 3px black solid;
  border-right: 3px black solid;
  border-bottom: 3px black solid;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 1px;
  margin-top: 0px;
  height: 30px;
  background-color:rgb(190, 188, 188);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  color: black;
}

.nav-bar-item:hover {
  background-color: rgb(165, 208, 216);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  color: black;
}

.nav-bar-item-selected {
  background-color:  rgb(165, 208, 216);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  color: black;
}

.nav-title {
  display: flex;
  font-family: 'Waterfall', cursive;
  font-size: 75px;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.nav-log {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  align-items: flex-end;
}

.nav-log strong {
  margin-right: 5px;
}

