.nav-container {
  display: flex;
  flex-direction: column;
  background-color: palevioletred;
}

.upper-nav {
  display: flex;
  height: 80px;
  top: relative;
  flex-direction: row;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  border-top: 3px black solid;
  height: 40px;
  align-items: center;
}

.nav-bar-item {
  display: flex;
  flex-direction: column;
  border-right: 3px black solid;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.nav-bar-item:hover {
  background-color: pink;
}

.title-font {
  display: flex;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  margin: 0px;
}