.wedding_container {
  height: 300px;
  width: 300px;
  background-color: white;
}

.wedding_image {
  display: flex;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  border: 4px black solid;
}

.wedding_image:hover {
  box-shadow: 4px 4px grey;
}

.wedding_text {
  position: relative;
  display: flex;
  bottom: 20%;
  background: rgb(255, 255, 255, 0.7);
  flex-direction: column;
}

.wedding_text p{
  font-weight: bold;
  margin: 0px;
  width: 300px;
  text-align: center;
}

.wedding_edit {
  position: relative;
  display: flex;
  color: black;
  left: 90%;
  top: 7%;
}
.wedding_edit:hover {
  color:  rgb(190, 188, 188);
}