.wedding_container {
  height: 300px;
  width: 300px;
  background-color: white;
}

.wedding_image {
  display: flex;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: 3px black solid;
}

.wedding_image:hover {
  box-shadow: 4px 4px grey;
}

.wedding_text {
  position: relative;
  display: flex;
  bottom: 20%;
  background: rgb(255, 255, 255, 0.7);
  flex-direction: column;
}

.wedding_text p{
  font-weight: bold;
  margin: 0px;
  width: 300px;
  text-align: center;
}

.wedding_edit_icon {
  position: relative;
  display: flex;
  color: black;
  left: 90%;
  top: 7%;
}
.wedding_edit_icon:hover {
  color:  rgb(190, 188, 188);
}

.wedding_edit {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 70%;
  width: 100%;
  padding: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  align-items: center;
}
.wedding_edit label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.wedding_edit input {
  width: 230px;
}

.edit_btn {
  border: 3px black solid;
  border-radius: 3px;
  background-color: white;
  width: 100px;
}
.edit_btn:hover {
  background-color: rgb(165, 208, 216);
}